* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v48_7491 {
  width: 100%;
  height: 2481px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v48_7288 {
  width: 100%;
  height: 2018px;
  background: url("../images/v48_7288.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v638_11577 {
  width: 100%;
  height: 359px;
  background: url("../images/v638_11577.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v638_11578 {
  width: 100%;
  height: 359px;
  background: url("../images/v638_11578.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v638_11579 {
  width: 100%;
  height: 359px;
  background: url("../images/v638_11579.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v638_11581 {
  width: 100%;
  height: 68px;
  background: rgba(255,255,255,1);
  padding: 24px 90px;
  opacity: 1;
  position: absolute;
  top: 202px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v48_7287 {
  width: 100%;
  height: 1659px;
  background: url("../images/v48_7287.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 359px;
  left: 0px;
  overflow: hidden;
}
.v48_7030 {
  width: 100%;
  height: 1659px;
  background: url("../images/v48_7030.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v47_5154 {
  width: 100%;
  height: 1659px;
  background: url("../images/v47_5154.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 42px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v47_5155 {
  width: 100%;
  height: 1659px;
  background: url("../images/v47_5155.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 1px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v47_5157 {
  width: 100%;
  height: 1604px;
  background: url("../images/v47_5157.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 20px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 360px;
  overflow: hidden;
}
.v47_5158 {
  width: 100%;
  height: 1604px;
  background: rgba(255,255,255,1);
  padding: 80px 0px;
  margin: 32px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v47_5159 {
  width: 100%;
  height: 480px;
  background: url("../images/v47_5159.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 20px;
  opacity: 1;
  position: absolute;
  top: 80px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v637_11330 {
  width: 100%;
  height: 480px;
  background: url("../images/v637_11330.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 20px;
  opacity: 1;
  position: absolute;
  top: 592px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v637_11406 {
  width: 100%;
  height: 480px;
  background: url("../images/v637_11406.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 20px;
  opacity: 1;
  position: absolute;
  top: 1104px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v69_6391 {
  width: 306px;
  height: 399px;
  background: url("../images/v69_6391.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 194px;
  left: 686px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v69_5274 {
  width: 16px;
  height: 20px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 286px;
  border: 1.5px solid rgba(67,67,67,1);
}
.v48_5816 {
  width: 13px;
  height: 9px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1027px;
  left: 135px;
}
.name {
  color: #fff;
}
.v637_10778 {
  width: 38px;
  height: 30px;
  background: url("../images/v637_10778.png");
  opacity: 0.30000001192092896;
  position: absolute;
  top: 2332px;
  left: 340px;
}
